/* Generell styling for alle sidene */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

/*legg til styling for header*/

/*legg til styling for footer*/

/*for github-siden*/
.github-page article{
    padding: 20px;
    margin: 40px;
    background: #dfdcdc;
    border-radius: 8px;
}
/*ikoner*/
.fa-square-github {
    padding: 20px;
    font-size: 1.4em;
}


/* Heading 1 */
.github-page h1{
    font-weight: bold;
    font-size: 3em;
}

.h2-style {
    margin-top: 20px;
    font-size: 2em;
}


/* Bilder med tekst */
.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* To kolonner */
    gap: 20px;
    margin-top: 20px;
}

.image-grid figure {
    text-align: center;
}

.image-grid img {
    width: 100%;
    max-width: 100vw; 
    height: auto; 
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/*bildetekst*/
figcaption {
    background-color: black;
    color: white;
    font-style: italic;
    padding: 5px;
    text-align: center;
    font-size: 1.4em;
  }

  .github-page p{
    font-size: 1.6em;

 }
 /**/

a {
    text-decoration: none;
    color: #000;
}

.hover-underline:hover {
    text-decoration: underline;
    text-decoration-skip-ink:none;
}

.background-index {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 60vh;
    max-width: 100%;
    text-align: center;
}

.bakgrunnsbilde-index {
    position: absolute;
    top: 0;
    left: 260px;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
}

.text-container {
    position: relative;
    z-index: 1; 
    padding: 20px; 
}

.main-title {
    font-size: 3rem; 
    color: white; 
}


h1, p {
    text-align:center;
}
/* Kristine header*/
nav {
    background-color: #ffd404;
    padding: 1em;
    padding-left: 275px;
    padding-right: 275px;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    row-gap: 2em;
}
.logo {
    width: 65px;
    grid-column: 1/7;
}
#oversikt {
    display: flex;
    grid-column: 14/15;
    gap: 20px;
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    color: #333;
}
#studieoversikt {
    grid-row: 2;
    text-decoration: underline;
}
.dropbtn {
    background-color: #ffd404;
    color: #333;
    border: none;
}
.meny {
    position: relative;
    display: inline-block;
}
.dropdown-meny {
    display: none;
    position: absolute;
    background-color: #ffd404;
    min-width: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,2);
    z-index: 1;
}
.dropdown-meny a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-meny a:hover {background-color: burlywood;}
.meny:hover .dropdown-meny {display: block;}




/* Syifa Aulia . INDEX*/
/*ikoner for studiets oppbygging*/
.fa-solid, .fa-regular{
    font-size: 1.2em;
    padding: 6px;
}

.fa-arrow-right {
    padding-left: 180px;
}

.fa-greater-than {
    font-size: 1em;
}


:root{
    --brand-color: #ffd404
}

#oversikt-sm{
    display: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: rgb(240, 240, 240);
}


h1, p {
    text-align:center;
}


article {
    margin-top: 2%;
    margin-left: 50px;
    margin-right: 50px;

}

.link-style{ /*brand-link*/
    font-weight: 800;
    text-decoration:underline 2.5px solid #ffd404;
	text-decoration-skip-ink:none;
}
/**/
*{
    border:1px solid red;
}

.link-style:hover{ /*brand-link*/
    text-decoration:underline;
}

.footer {
    padding: 80px;
    background-color: #ffd404;
    display: flex;
    font-size: small;
    justify-content: center
}

.footer div {
    text-align: center;
    flex-grow: 1;
    
}


.col-1 p {
    margin-top: 5px;      
    margin-bottom: 5px;   
}


.col-2 ul li, .col-3 ul li {
    margin-bottom: 15px;
    list-style-type: none;
}


p, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

p{
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 1rem;
}

*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(31, 30, 30);
    font-size: 16px;
}

.background-index{
    position: relative;
    padding-block: 64px;
}

.background-index .background-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    overflow: hidden;
    z-index: -1;

}

/*a{
    color: var(--brand-color);
    text-decoration: none;
    font-size: inherit;
}*/

.font-4xlarge{ /* finnes den?*/
    font-size: 3rem;
}

.font-3xlarge{
    font-size: 2.25rem;
}

.font-2xlarge{
    font-size: 1.75rem;
}

.font-xlarge{
    font-size: 1.5rem;
}

.font-xlarge a {
    color:#FFF;
}

.font-large{
    font-size: 1.25rem;
}

.font-medium{
    font-size: 1.125rem;
}

.font-small{
    font-size: 1rem;
}
/* 
font-xsmall = subjects
*/
.font-xsmall{
    font-size: 0.875rem;
    border-top: #000;
}

.bold{
    font-weight: 700;
}

/* 
course-information = intro-information
*/

.course-information{ /* container*/
    margin-top: 100px;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.course-information-boxstory{ /*container-boxstroty*/
    background-color: #ffd404;
    padding: 10px;
    border: 15px double black;
}

.course-content summary {
    border-bottom: 2px solid #ccc;
    margin: 5px;
}


.course-information-large{ /* container-lg*/
    max-width: 90%;
}

.course-information-small{ /* container-sm*/
    max-width: 70%;
}

/*fjernet flex*/



iframe{
    aspect-ratio: 16/9;
}

.space-top{
    margin-top: 4rem;
}

.large-margin { /* section*/
    margin: 4.5rem 0;
}
.large-margin summary {  /*flytt "vis flere studier" i center*/
    margin-left: 300px;
}
.large-margin h3{ /* section-h3*/
    margin-bottom: 1rem;
}

.main-title{
    font-size: 2em;
    margin-bottom: 0px;
}

.subtitle{
    font-weight: 500;
    margin-top: 0.5rem;
}

.bachelorprogram-details{ /* info*/
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
}

.bachelorprogram-details-box{ /* info-box*/
    border-top: 1px solid #000;
    padding: 1rem 0;
    display: flex;
    align-items: flex-start;
    column-gap: 10px;
}

.bachelorprogram-details-box h3{ /* info-box h3*/
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 600;
}

.bachelorprogram-details-box p, li{ /* info-p*/
    margin-top: 0px;
    font-weight: 800;
    margin-left: 40px;
}

.bachelorprogram-details-box.border-bottom-section { /*Nytt siden 21.11*/
    border-bottom: 1px solid #444242; 

}

.mamo-video {
    max-width: 500px;
}

.course-content{ /* introduction*/
    display: flex;
    align-items: flex-start;
    column-gap: 20px;
    margin-top: 32px;
}

.course-content-optional{
    display: flex;
    justify-content: end;
    column-gap: 1rem;
}

.course-content-optional .first, .course-content-optional .last{
    background-repeat: no-repeat;
    padding-left: 1.25rem;
}

/*

course-content,first and course-content.last = slett 
change to solid icon
*/

/*introduction istedenfor course-content helt til hit*/

.course-content-icon{
    border: solid #000 1px;
}

.course-content-text > div{
    padding-left: 22px;
}

.course-content summary{
    font-weight: bold;
    padding-bottom: 20px;
}

.course-content details{
    width: 100%;
}

.course-content .semester summary {
    background-color: #FFF;
}

.course-content .semester[open] summary {
    background-color: var(--brand-color);
}

.course-content details details summary{
    padding: 10px;
    background-color: #dadada;
    width: 100%;
}

.course-content details details{
    margin-block: 24px;
}


.course-content p {
    margin-block: 24px;
}

.course-content li {
    margin-block: 14px;
}

.semester h3 {
	background-color: #ff9310;
    border-radius: 5px;
}
/*introduction istedenfor course-content helt til hit*/
.curriculum {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    padding-top: 16px;
    column-gap: 25px;
    row-gap: 12px;
}

.curriculum-box {
    position: relative;
    background: #e5e1de;
    padding: 21px;
    border: 1px solid #a8a8a8;
    border-radius: 8px;
    overflow: hidden;
}

/* Nytt siden 22.11*/
.font-xsmall p {
    padding-top: 8px;
    margin: 0; 
}

/* Ikonet for "valgfritt emne" */
.curriculum-box h5 i.fa-star {
    position: absolute; 
    top: 8px;
    right: 8px;
    font-size: 1.2em;
}

/* For de obligatoriske fagene */
.curriculum-box.single {
    background: #e9e4df;
    padding: 16px;
    border: 1px solid #a8a8a8;
    border-radius: 8px;
}

/* Emnegruppe */
.group-subject {
    grid-column: span 4; /*den vil ende på den tredje grid linjen fra startposisjonen (hentet fra: https://www.frontendreference.com/css/grid-column-end.html) */ 
    background: #ffd404;
    padding: 8px;
    text-align: left;
    font-size: 0.9em;
}

@media (max-width: 1200px) {
    .curriculum {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 15px;
        row-gap: 10px;
    }

    .curriculum-box {
        padding: 16px;
    }

    .group-subject {
        grid-column: span 3;
        padding: 8px;
    }
}

@media (max-width: 850px) {
    .curriculum {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 15px;
        row-gap: 10px;
    }

    .curriculum-box {
        padding: 16px;
    }

    .group-subject {
        grid-column: span 2;
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .curriculum {
        grid-template-columns: 1fr;
        column-gap: 10px;
        row-gap: 8px;
    }

    .curriculum-box {
        padding: 12px;
    }

    .group-subject {
        grid-column: span 1;
        padding: 8px;
    }
}

.master-program-box{
    margin-top: 10px;
    background-color: #ffd404;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #a8a8a8;
}

/*Nytt siden 21/11*/
.professor{ /*person*/
    display: flex;
    align-items: center;
    border-top: 1px #2e2e2e solid;
    border-bottom: 1px #2e2e2e solid;
    padding: 2rem 0;
    height: 150px;
}

.professor img{ 
    width: 100px;
}

.professor .contact{
margin-top: 10px;
margin-bottom: 10px;
}

.semester h4 {
	padding: 10px;
    font-size: 1em;
    margin-top: 10px
}
.person .contact,.semester h4{
	margin-top:10px
}

.professor .professor-info{
    flex: 1;
    padding: 0 2rem;
}

.contact-leader{
    display: flex;
    column-gap: 40px;
    align-items: stretch;
}

.qna-education{ /*.leder, qa*/
    flex: 1;
}


.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    
}

.course{
    /* border-top: 1px #2e2e2e solid; */
    /* border-bottom: 1px #2e2e2e solid; */
    padding: 25px;
    border: #000 1px solid;
    border-radius: 12px;
    background-color: #ffd404;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.course i{
    transition: transform 100ms;
}


.course i:hover{
    transform: translateX(30px);
}

.see-more{
    margin-top: 40px;
}

.see-more summary{
    text-align: center;
    margin: 0;
}


.professor-info .bold:hover{
    font-size: 1.3em;
    transition: 0.2s ease-in-out;
}

.scale-hover:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}


.course p{
    text-align: left;
}

.more-courses {
    display: grid;
    gap:15px;
}

.program{
    display: flex;
    justify-content: space-between;
    border-bottom: #2e2e2e solid 1px;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.more-programs {
    padding-left: 500px;

}
/* .courses:last-child{
    border-bottom: 1px #2e2e2e solid; */
/* } */

.course .course-info {
    display: flex;
    justify-content: space-between;
}

.course .course-info span{
    margin-top: 10px;
    padding: 0 20px 0 0;
}

.studenthistory{ /*studenthistori*/
    margin-bottom: 20px;
}

.bottom-card{
    display: flex;
    align-items: center;
    height: 400px;
    padding: 20px;
}


.bottom-card .card-text{
    /* padding: 2rem; */
    padding-left: 50px;
    flex: 1;
    /* width: 50%; */
}

.bottom-card .card-text h3{
    margin-top: 2rem;
}

.bottom-card .card-text p{
    line-height: 1.5;
}

.bottom-card .card-img {
    flex: 1;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.bottom-card .card-img img {
    width: 400px; /* ble endret størrelse*/
    height: 330px;
    object-fit: cover;
    border-radius: 5px; 
}



.studenthistories-more{ /*studenthistorier*/
    display: flex;
    background-color: var(--brand-color);
    padding: 1.5rem 1.5rem;
    margin: 4rem auto;
    color: #000;
    width: fit-content;
    align-items: center;
    column-gap: 60px;
    
}

.studenthistories-more i{
    font-size: 1em;
    /*padding-left: 100px;*/
}
/*.studenthistories-more {
    font-size: 1.8em;
} fjernet det, trenger ikke*/ 

.studenthistories-more button{
    font-size: 1em;

}

.studenthistories-more:hover{
    background-color: hsl(50, 100%, 45%);
}

.studenthistories-more:hover a{ /*  new css (changed)*/
    color: rgb(255, 61, 61);
}



@media only screen and (max-width: 784px) {
    .bachelorprogram-details{
        grid-template-columns: repeat(1, 1fr);
    }
    .course-information, .course-information-small, .course-information-large{
        width: 100%;
    }

    main{
        margin: 0;
        width: 100%
    }

    .bottom-card{
        height: auto;
        flex-direction: column;
        row-gap: 30px;
    }

    .bottom-card .card-img{
        width: 100%;
        /* height: 400px; */
    }

    .bottom-card .card-text{
        padding-left: 0;
    }

    .courses{
        grid-template-columns: 1fr;
    }

    .contact-leader{
        flex-direction: column;
        row-gap: 20px;
    }

    nav{
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    #oversikt-sm {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
    }

    #oversikt, #studieoversikt{
        display: none;
    }
}
/*index slutt*/