/* Generelt */
body {
    background-color: #f7f7f7;
    margin: 0;  
    padding: 0; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%; 
    overflow-x: hidden; /* Prevent horizontal scroll */
}


/* Kristine Header */
nav {
    background-color: #ffd404;
    padding: 1em 0; /* Remove side padding */
    display: grid;
    grid-template-columns: 1fr auto; 
    grid-gap: 1em;
    align-items: start; 
    position: relative;
    width: 100%; /* Full width of the screen */
}

.logo {
    grid-column: 1; 
    grid-row: 1; 
    width: 65px;
}

#studieoversikt {
    grid-column: 1; 
    grid-row: 2;
    font-size: 16px;
    color: #333;
    text-decoration: underline;
    padding-top: 10px;
}

.oversikt {
    grid-column: 2;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end; 
}

@media (min-width: 1024px) {
    nav {
        padding-left: 0; /* Remove side padding */
        padding-right: 0; /* Remove side padding */
    }
}

@media (max-width: 768px) {
    nav {
        padding-left: 0; /* Keep padding consistent */
        padding-right: 0; /* Keep padding consistent */
    }
}

.meny {
    margin-top: 1em;
    justify-content: center;
}

.logo {
    justify-self: center; 
}

#studieoversikt {
    justify-self: start; 
    margin-top: 10px; 
}

.dropbtn {
    background-color: #ffd404;
    color: #333;
    border: none;
}

.meny {
    position: relative;
    display: inline-block;
}

.dropdown-meny {
    display: none;
    position: absolute;
    text-align: left;
    background-color: #ffd404;
    min-width: 300px;
    max-height: 200px; 
    overflow-y: auto; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    z-index: 1;
}

.dropdown-meny a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-meny a:hover {
    background-color: burlywood;
}

.meny:hover .dropdown-meny {
    display: block;
}

@media (max-width: 480px) {
    nav {
        grid-template-columns: 1fr;
        padding-left: 0;
        padding-bottom: 1em;
    }

    .oversikt {
        position: static;
        margin-top: 1em;
        justify-content: center;
    }

    .dropdown-meny {
        min-width: 100%;
    }
}

/* Main */

/* Hovedseksjon */
.hovedseksjon {
    background-image: url('../Images/bakgrunnsbilde.png'); /*https://www.w3schools.com/css/css_background_image.asp*/
    background-size: cover;
    background-position: center;
    height: 25vh;
    padding: 40vh 5vw;
    text-align: center;
    color: #141010;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.innhold h1 {
    margin-bottom: 0px;
    text-shadow: 2px 2px 2px #ffffff;
    font-size: 5rem;
    font-weight: bold;
}


.innhold p {
    margin-top: 5px;
    font-size: 1.8em;
}
/*Under 995px og over 450px*/
@media (min-width: 480px) and (max-width: 750px) {
    .hovedseksjon {
        height: 30vh; 
        padding: 10vh 5vw;
    }
    
    .innhold h1 {
        font-size: 3rem;
    }
    
    .innhold p {
        font-size: 1rem;
    }
}

/* Under 450px */
@media (max-width: 479px) {
    .hovedseksjon {
        height: 20vh;
        padding: 5vh 3vw;
    }
    
    .innhold h1 {
        font-size: 2.2rem;
    }
    
    .innhold p {
        font-size: 0.8rem;
        max-width: 90%;
    }
}


/* Om oss + vår historie */


/* Kommende aktiviteter */




/* Ukens Oppskrifter 

RESPONSIVE CSS3 SLIDE CAROUSEL GALLERY
http://stackoverflow.com/a/34696029/383904 */

.ukensoppskrifter h2 {
    font-size: 2.2em; 
    text-align: center;
    margin-bottom: 10px;
}

.oppskrifter {
    background-color: #cfd8f1;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 80vh; 
    flex-wrap: wrap;
}


.CSSgal {
    background-color: #b8c7f5;
    border: 6px double #000000;
    position: relative;
    overflow: hidden;
    height: 55vh; 
    width: 50vw; 
    max-width: 900px; 
}

.CSSgal .slider {
    height: 100%; 
    white-space: nowrap;
    font-size: 0;
    transition: 0.8s;
}

.slider img {
    height: 300px; 
    width: 500x; 
}


.navn {
    padding-top: 40px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.7em;
    color: black; 
    text-align: center;
    font-style:italic;
}

.navn a {
    text-decoration: none; 
    color: black; 
}

.navn a:hover {
    color:#3f1dfe ;
}


.info {
    margin-top: 10px;
    font-size: 1.1em; 
    color: black; 
    text-align: center; 
    font-style: italic;
}


.CSSgal .slider > * {
    font-size: 1rem;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 100%;
    background: none 50% no-repeat;
    background-size: cover;
}


.CSSgal .slide img {
    max-height: 100%; 
    width: auto; 
    display: block; 
    margin: 0 auto; 
}


.CSSgal .prevNext {
    position: absolute;
    z-index: 1;
    top: 50%;
    width: 100%;
    height: 0;
}

.CSSgal .prevNext > div + div {
    visibility: hidden; 
} 

.CSSgal .prevNext a {
    background: #fff;
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    opacity: 0.7;
    text-decoration: none;
    transform: translateY(-50%);
}

.CSSgal .prevNext a:hover {
    opacity: 3;
}

.CSSgal .prevNext a + a {
    right: 0px;
}

.CSSgal .bullets {
    position: absolute;
    z-index: 2;
    bottom: 0;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

.CSSgal .bullets > a {
    display: inline-block;
    width: 25px;
    height: 22px;
    line-height: 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 30%;
    background: rgba(255,255,255,1);
}


.CSSgal .bullets > a + a {
    background: rgba(255,255,255,0.5);
}

.CSSgal .bullets > a:hover {
    transform: scale(1.2);
}


.CSSgal > s:target ~ .bullets > * { background: rgba(255,255,255,0.5); }
#s1:target ~ .bullets > *:nth-child(1){ background: rgba(255,255,255, 1); }
#s2:target ~ .bullets > *:nth-child(2){ background: rgba(255,255,255, 1); }
#s3:target ~ .bullets > *:nth-child(3){ background: rgba(255,255,255, 1); }
#s4:target ~ .bullets > *:nth-child(4){ background: rgba(255,255,255, 1); }
#s5:target ~ .bullets > *:nth-child(5){ background: rgba(255,255,255, 1); }
#s6:target ~ .bullets > *:nth-child(6){ background: rgba(255,255,255, 1); }


.CSSgal > s:target ~ .prevNext > * { visibility: hidden; }
#s1:target ~ .prevNext > *:nth-child(1){ visibility: visible; }
#s2:target ~ .prevNext > *:nth-child(2){ visibility: visible; }
#s3:target ~ .prevNext > *:nth-child(3){ visibility: visible; }
#s4:target ~ .prevNext > *:nth-child(4){ visibility: visible; }
#s5:target ~ .prevNext > *:nth-child(5){ visibility: visible; }
#s6:target ~ .prevNext > *:nth-child(6){ visibility: visible; }


#s1:target ~ .slider { transform: translateX(0%); }
#s2:target ~ .slider { transform: translateX(-100%); }
#s3:target ~ .slider { transform: translateX(-200%); }
#s4:target ~ .slider { transform: translateX(-300%); }
#s5:target ~ .slider { transform: translateX(-400%); }
#s6:target ~ .slider { transform: translateX(-500%); }


.oppskrift-aside {
    flex: 0 0 25%; 
    background-color: #f8f9fa;
    padding: 20px;
    margin-left: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px; 
}

.oppskrift-aside h4 {
    font-size: 1.8em; 
    margin-bottom: 10px;
}

.oppskrift-aside p {
    font-size: 1.1em; 
    color: #333;
}


/* (360x740, 360x760) */
@media (max-width: 360px) and (max-height: 760px) {
    .ukensoppskrifter h2 {
        font-size: 1.6em; 
    }
    .oppskrifter {
        height: 70vh;
    }
    .CSSgal {
        height: 50vh;
        width: 80vw;
    }
    .navn {
        font-size: 1.4em;
    }
    .info {
        font-size: 1em;
    }
    .oppskrift-aside h4 {
        font-size: 1.5em;
    }
    .oppskrift-aside p {
        font-size: 1em;
    }
}

/* (412x869, 414x896) */
@media (max-width: 414px) and (max-height: 896px) {
    .ukensoppskrifter h2 {
        font-size: 2em; 
    }
    .CSSgal {
        height: 50vh;
        width: 85vw;
    }
    .navn {
        font-size: 1.6em;
    }
    .info {
        font-size: 1.1em;
    }
    .oppskrift-aside h4 {
        font-size: 1.6em;
    }
    .oppskrift-aside p {
        font-size: 1em;
    }
}

/* (375x812) */
@media (max-width: 375px) and (max-height: 812px) {
    .ukensoppskrifter h2 {
        font-size: 1.8em;
    }
    .CSSgal {
        height: 52vh;
        width: 75vw;
    }
    .navn {
        font-size: 1.5em;
    }
    .info {
        font-size: 1em;
    }
    .oppskrift-aside h4 {
        font-size: 1.6em;
    }
    .oppskrift-aside p {
        font-size: 1em;
    }
}

/* (768x1024) */
@media (max-width: 768px) and (max-height: 1024px) {
    .ukensoppskrifter h2 {
        font-size: 2em; 
    }
    .CSSgal {
        height: 50vh;
        width: 70vw;
    }
    .navn {
        font-size: 1.8em;
    }
    .info {
        font-size: 1.2em;
    }
    .oppskrift-aside {
        flex: 0 0 30%;
        margin-left: 10px;
    }
    .oppskrift-aside h4 {
        font-size: 1.7em;
    }
    .oppskrift-aside p {
        font-size: 1.1em;
    }
}

/* (1280x720) */
@media (min-width: 1024px) and (max-width: 1280px) and (max-height: 720px) {
    .ukensoppskrifter h2 {
        font-size: 2.2em;
    }
    .CSSgal {
        height: 60vh;
        width: 60vw;
    }
    .navn {
        font-size: 1.9em;
    }
    .info {
        font-size: 1.2em;
    }
    .oppskrift-aside {
        flex: 0 0 20%;
    }
}

/* (1920x1080) */
@media (min-width: 1280px) and (max-width: 1920px) and (max-height: 1080px) {
    .ukensoppskrifter h2 {
        font-size: 2.5em;
    }
    .CSSgal {
        height: 55vh;
        width: 50vw;
    }
    .navn {
        font-size: 2em;
    }
    .info {
        font-size: 1.3em;
    }
    .oppskrift-aside {
        flex: 0 0 20%;
    }
}

/* (2048x1536) */
@media (min-width: 1536px) and (max-width: 2048px) and (max-height: 1536px) {
    .ukensoppskrifter h2 {
        font-size: 2.8em;
    }
    .CSSgal {
        height: 60vh;
        width: 50vw;
    }
    .navn {
        font-size: 2.2em;
    }
    .info {
        font-size: 1.4em;
    }
    .oppskrift-aside {
        flex: 0 0 20%;
    }
}





/* Footer styling */
.footer {
    padding: 80px 50px;
    background-color: #FFD700;
    min-height: 200px; /* Sett minimum høyde */
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.footer-col {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

/* Kolonne 1: Tekstjustering */
.col-1 {
    flex: 2;  /* Gjør kolonne 1 bredere */
    text-align: left; /* Tekst til venstre */
}

/* Tekststil i kolonne 1 */
.col-1 h3 {
    font-weight: bold;
    font-size: 1.2rem;
}

.col-1 h4 {
    font-weight: 100;
    font-size: 1em;
    margin-top: 0px;
    margin-bottom: 25px; /* Mellomrom mellom h4 og resten av teksten */
}

/* Stil for avsnitt i kolonne 1 */
.col-1 p {
    font-weight: normal;
    line-height: 1.3;
    margin: 3px;
}

/* Lenke stil i kolonne 1 */
.col-1 a {
    margin-top: 10px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

/* Kolonne 2 og 3 */
.col-2, .col-3 {
    flex: 1; /* Smalere kolonner */
    text-align: left; /* Justert til venstre */
    font-weight: normal;
}

/* Fjerner punkttegn fra lister */
.footer-col ul {
    list-style-type: none;
    padding: 0;
}

.footer-col a {
    color: black;
    text-decoration: none;
    margin-bottom: 1rem;
}

/* Økt mellomrom for lenker i col-2 */
.col-2 a {
    display: block;
    color: black;
    text-decoration: none;
    margin-bottom: 0.8rem; /* Økt mellomrom mellom lenkene */
}

.footer-col a:hover {
    text-decoration: underline;
}

/* H3 og H2 overskrifter */
.footer-col h3 {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 2px;
}

/* Sosiale medier */
.social-links li {
    margin-bottom: 10px;
}

.fa-brands {
    font-size: 1.3em
}