body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: white;
}


h1, p {
    text-align:center;
}

.navbar {
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0;
    z-index: 100;
    top: 0;
    transition: top 0.6;
    overflow: auto;
    width: 100%;
    background-color: #ffd404;
}

.navbar a {
    display: inline-block;
    color: #000000f4;
    text-align: center;
    text-decoration: none;
    padding: 30px;
}

.navbar a:hover {
    background-color: #ffd404;
}


main {
    margin-top: 2%;
    margin-left: 50px;
    margin-right: 50px;

}

.footer {
    margin: 0;
    padding: 20px;
    padding-bottom: 50px;
    background-color: #ffd404;
    display: flex;
    text-decoration: none;
}

.footer div {
    margin-bottom: 30px;
    text-align: center;
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
    flex-grow: 1;
}

.col-2, il{
    display: inline-block;
   
}