body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: white;
}


h1, p {
    text-align:center;
}

.navbar {
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0;
    z-index: 100;
    top: 0;
    transition: top 0.6;
    overflow: auto;
    width: 100%;
    background-color: #ffd404;
}

.navbar a {
    display: inline-block;
    color: #000000f4;
    text-align: center;
    text-decoration: none;
    padding: 30px;
}

.navbar a:hover {
    background-color: #ffd404;
}


main {
    margin-top: 2%;
    margin-left: 50px;
    margin-right: 50px;

}

.footer {
    padding: 80px;
    background-color: #ffd404;
    display: flex;
    font-size: small;
    justify-content: center
}

.footer div {
    text-align: center;
    flex-grow: 1;
    
}

a {
    color: #000000f4;
    text-decoration: none;
    font-weight: bold;
}

.col-1 p {
    margin-top: 5px;      
    margin-bottom: 5px;   
}


.col-2 ul li, .col-3 ul li {
    margin-bottom: 15px;
    list-style-type: none;
}
