body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: white;
}


h1, p {
    text-align:center;
}

nav {
    background-color: #ffd404;
    padding: 1em;
    padding-left: 275px;
    padding-right: 275px;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    row-gap: 2em;
}
.logo {
    width: 65px;
    grid-column: 1/7;
}
#oversikt {
    display: flex;
    grid-column: 14/15;
    gap: 20px;
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    color: #333;
}
#studieoversikt {
    grid-row: 2;
    text-decoration: underline;
}
.dropbtn {
    background-color: #ffd404;
    color: #333;
    border: none;
}
.meny {
    position: relative;
    display: inline-block;
}
.dropdown-meny {
    display: none;
    position: absolute;
    background-color: #ffd404;
    min-width: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,2);
    z-index: 1;
}
.dropdown-meny a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-meny a:hover {background-color: burlywood;}
.meny:hover .dropdown-meny {display: block;}

:root{
    --brand-color: #ffd404
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: white;
}


h1, p {
    text-align:center;
}


main {
    margin-top: 2%;
    margin-left: 50px;
    margin-right: 50px;

}

.footer {
    padding: 80px;
    background-color: #ffd404;
    display: flex;
    font-size: small;
    justify-content: center
}

.footer div {
    text-align: center;
    flex-grow: 1;
    
}

a {
    color: #000000f4;
    text-decoration: none;
    font-weight: bold;
}

.col-1 p {
    margin-top: 5px;      
    margin-bottom: 5px;   
}


.col-2 ul li, .col-3 ul li {
    margin-bottom: 15px;
    list-style-type: none;
}


p, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

p{
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 1rem;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(31, 30, 30);
    font-size: 16px;
}

/*a{
    color: var(--brand-color);
    text-decoration: none;
    font-size: inherit;
}*/

.font-4xl{
    font-size: 3rem;
}

.font-3xl{
    font-size: 2.25rem;
}

.font-2xl{
    font-size: 1.75rem;
}

.font-xl{
    font-size: 1.5rem;
}

.font-lg{
    font-size: 1.25rem;
}

.font-md{
    font-size: 1.125rem;
}

.font-sm{
    font-size: 0.875rem;
}

.bold{
    font-weight: 700;
}

.container{
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.container-lg{
    max-width: 90%;
}

.container-sm{
    max-width: 70%;
}

.flex{
    display: flex;
}

.m-lg{
    margin: 1.25rem;
}


iframe{
    width: 100%;
    aspect-ratio: 16/9;
}

.space-top{
    margin-top: 4rem;
}

.section {
    margin: 4.5rem 0;
}

.section h3{
    margin-bottom: 1rem;
}

.main-title{
    font-size: 2.5rem;
    margin-bottom: 0px;
}

.subtitle{
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 0.5rem;
}

.info{
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
}

.info-box{
    border-top: 1px solid #000;
    padding: 1rem 0;
}

.info-box h3{
    margin-bottom: 0;
    font-size: 1rem;
}

.info p{
    margin-top: 0px;
}

.person{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    border-top: 1px #2e2e2e solid;
    border-bottom: 1px #2e2e2e solid;
    padding: 1.5rem 0;
}

.person img{
    width: 100px;
}

.person .contact{
    margin-top: 10px;
}

.person .person-info{
    flex: 1;
    padding: 0 2rem;
}

.course{
    border-top: 1px #2e2e2e solid;
    /* border-bottom: 1px #2e2e2e solid; */
    padding: 30px 0;
}

.courses:last-child{
    border-bottom: 1px #2e2e2e solid;
}

.course .course-info {
    display: flex;
}

.course .course-info span{
    margin-top: 10px;
    padding: 0 20px 0 0;
}

.bottom-card{
    background-color: var(--brand-color);
    display: flex;
    align-items: flex-start;
    height: 400px;
}


.bottom-card .card-text{
    padding: 2rem;
    flex: 1;
    /* width: 50%; */
}

.bottom-card .card-text h3{
    margin-top: 2rem;
}

.bottom-card .card-text p{
    line-height: 1.5;
}

.bottom-card .card-img{
    overflow: hidden;
    flex: 1;
}

.bottom-card .card-img img{
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.load-more{
    display: flex;
    background-color: var(--brand-color);
    padding: 1.5rem 1.5rem;
    margin: 4rem auto;
    color: #000;
    width: fit-content;
    align-items: center;
    column-gap: 60px;
    
}

.load-more:hover{
    background-color: hsl(50, 100%, 45%);
}

.load-more:hover svg{
    translate: -5px 0;
}

@media only screen and (max-width: 784px) {
    .info{
        grid-template-columns: repeat(1, 1fr);
    }
    .container, .container-sm, .container-lg{
    max-width: 90%;
    }

    main{
    margin: 0
    }

    .bottom-card{
    height: auto;
    flex-direction: column-reverse;
    /* flex-r */
    }

    .bottom-card .card-img{
    width: 100%;
    /* height: 400px; */
    }
}